# Temporary files from editors
*~

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# k-Wave produced settings and result files (large data files).
*.h5

# x-code directory
K_Wave_C
K_Wave_C/*
